<div class="dashboard-container">
    <div class="new-post-container hidden show">
        <p>Create New Post</p>
        <form>
            <label for="title">Title</label>
                        <textarea name="title" id="blog-title" data-id="{{blogPost.id}}" cols="30" rows="1"></textarea>
            <label for="content">Content</label>
            <textarea name="content" id="blog-content" data-id="{{blogPost.id}}" cols="30" rows="4"></textarea>
            <button id="create-btn">Create</button>
        </form>
    </div>

    <button id="new-post-btn">New Post</button>

    <div class="blog-post-container show">
        {{#each blogPosts as |blog|}}
        <a href="/editpost/{{blog.id}}">
            <div class="single-blog-post">
                <div class="single-blog-header">
                    <p>{{blog.blog_title}}</p>
                    <p>{{format_date blog.blog_date}}</p>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>

<script src="/js/dashboard.js"></script>